<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
        <title>New</title>
    </head>
    <body>
        <div style="padding:0.5em;">
            <h1>新規</h1>
            <form action="/new" method="GET" class="pure-form">
                <fieldset>
                    <input type="text" name="page_name">
                    <input type="submit" class="pure-button pure-button-primary" value="編集">
                </fieldset>
            </form>
        </div>
    </body>
</html>
