<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/side-menu.css">
        <link rel="stylesheet" type="text/css" href="{{ staticfile('style.css') }}">
        <title>俳句SNS</title>
    </head>
    <body>
        <div id="layout" class="page">
            {% block header %}
            {% endblock %}
            <div id="main">
                <div class="header">
                    <h1>
                        {% block title %}
                            俳句SNS
                        {% endblock %}
                    </h1>
                </div>
                <div class="contents">
                    {% block contents %}
                    {% endblock %}
                </div>
                {% block footer %}
                    <p class="footer">
                        <a class="pure-button" href="/">トップページへ</a>
                    </p>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
{% block footer_script %}
{% endblock %}
